* {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: hsl(219, 12%, 42%);
}

body{
    padding: 3px;
}

a{
    text-decoration-line: none;
}

a:active,
a:hover{
    color: hsl(219, 85%, 26%);
    font-weight:bolder;
}

.main-header{
    display: flex;
    justify-content: space-between;
}

.main-header > div{
    margin: auto 0;
    font-size: .9em;
}

.main-title{
    font-weight: 800;
    color: hsl(224, 21%, 14%);
}

.n-message-name{
    font-weight: 700;
    color: hsl(224, 21%, 14%);
}

.unread-msg::after{
    content: '\2022';
    color: hsl(1, 90%, 64%); 
    font-size: 1.4em;            
}

.notification{
    border-radius: 7px;
    line-height: 1;
    font-size: .91rem;
}

.notification.unread{
    background-color: hsl(210, 60%, 98%);
}

.msg-count-icon{
    padding: 1px 9px;
    background: hsl(219, 85%, 26%);
    margin-left: 8px;
    color: #fff;
    font-size: .8em;
    margin-bottom: 2px;
    border-radius: 4px;
}

.msg-time{
    margin: 6px 0 0 0;
    color: hsl(219, 14%, 63%);
}

.text-link{
    font-weight: 800;
    color: hsl(219, 85%, 26%);
}

.msg-link{
    font-weight: 800;
}

.pm-msg-preview{
    border: hsl(219, 14%, 63%) 0.5px solid;
    border-radius: 4px;
    padding: 17px 14px;
    margin-top: 8px;
    line-height: normal;
}

.pm-msg-preview:hover,
.pm-msg-preview:active {
    background-color:hsl(211, 68%, 94%);
    border-color: hsl(211, 68%, 94%);
    cursor: pointer;
}

.commented-pic > img:hover,
.commented-pic > img:active{
    border: hsl(211, 68%, 94%) 3px solid;
    border-radius: 6px;
    cursor: pointer;
}

.notification{
    padding: 8px 15px;
    margin-bottom: 10px;
}

.main-title, .notification {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.notification-avatar{
    display: inline;
}

.message-content{
    display: inline;
    max-width: 90%;
}

.notification-avatar{
    margin-right: 14px;
}

.pic-comment-text{
    display:inline;
}

.commented-pic{
    display: inline;
    margin-left: auto;
}

@media screen and (min-width: 360px) and (max-width: 500px) {

    .notification div{
        display: inline;
    }

    .n-message-text{
        width: 75%;
    }

    .message-content{
        display: inline;
        width: 80%;
    }

    .pic-comment{
        width: 65%;
    }

}